@model List<Faqs>
<!-- FAQs Start -->
<div class="container-fluid faq-section bg-light py-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-xl-6 wow fadeInLeft" data-wow-delay="0.2s">
                <div class="h-100">
                    <div class="mb-5">
                        <h4 class="text-primary">Sıkça Sorulan Sorular</h4>
                        <h1 class="display-4 mb-0">En Yaygın Merak Edilenler</h1>
                    </div>
                    <div class="accordion" id="accordionExample">
                        @foreach (var item in Model)
                        {
                            var collapseId = $"collapse{item.FaqId}";
                            var headingId = $"heading{item.FaqId}";
                            var showClass = item == Model.First() ? "show" : "";
                            var collapsedClass = item == Model.First() ? "" : "collapsed";
                            var ariaExpanded = item == Model.First() ? "true" : "false";

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="@headingId">
                                    <button class="accordion-button @collapsedClass border-0" type="button" data-bs-toggle="collapse" data-bs-target="#@collapseId" aria-expanded="@ariaExpanded" aria-controls="@collapseId">
                                        S: @item.Question
                                    </button>
                                </h2>
                                <div id="@collapseId" class="accordion-collapse collapse @showClass" aria-labelledby="@headingId" data-bs-parent="#accordionExample">
                                    <div class="accordion-body rounded">
                                        C: @item.Answer
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-xl-6 wow fadeInRight" data-wow-delay="0.4s">
                <img src="/LifeSure-1.0.0/img/carousel-2.png" class="img-fluid w-100" alt="">
            </div>
        </div>
    </div>
</div>
<!-- FAQs End -->
