@model List<Features>
<!-- Feature Start -->
<div class="container-fluid feature bg-light py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary">Öne Çıkan Özelliklerimiz</h4>
            <h1 class="display-4 mb-4">Sigorta Size Daha İyi Bir Gelecek Sağlar</h1>
            <p class="mb-0">
                Güvenli bir yarın için, bugün koruma altına alın. Hayatınızı ve sevdiklerinizi güvence altına alan sigorta çözümleri sunuyoruz.
            </p>
        </div>
        @*<div class="row g-4">
            @foreach (var item in Model)
            {
                <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="feature-item p-4 pt-0">
                        <div class="feature-icon p-4 mb-4">
                            <i class="@item.IconUrl"></i>
                        </div>
                        <h4 class="mb-4">@item.Title</h4>
                        <p class="mb-4">
                            @item.Description
                        </p>
                        <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Daha fazla</a>
                    </div>
                </div>
            }
        </div>*@
        <div class="row align-items-stretch">
            @foreach (var item in Model)
            {
                <div class="col-md-6 col-lg-6 col-xl-3 mb-4">
                    <div class="feature-item h-100 d-flex flex-column justify-content-between p-4 pt-0">
                        <div>
                            <div class="feature-icon p-4 mb-4">
                                <i class="@item.IconUrl"></i>
                            </div>
                            <h4 class="mb-4">@item.Title</h4>
                            <p class="mb-4">@item.Description</p>
                        </div>
                        <a class="btn btn-primary rounded-pill py-2 px-4 mt-auto" href="#">Daha fazla</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Feature End -->
